<h1>Article</h1>
<p>
	<strong>Name:</strong>
	<%= @article.name%>
</p>
<p>
	<strong>Description:</strong>
	<%= @article.description%>
</p>
<h2>Comments</h2>
<%= render 'comments/comment' %>
 
<h2>Add a comment:</h2>
<%= render 'comments/new' %>

<p>
	<%=link_to 'Back', articles_path%> 
	<%=link_to 'Edit', edit_article_path%>
</p>